<% layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
        <h3>Create a new listing</h3>
    <form action="/listings" method="post">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" rows="6" cols="35"  class="form-control" ></textarea>
        </div>
        <div  class="mb-3">
            <label for="image"class="form-label">Image link</label>
            <input type="text" name="listing[image]" placeholder="Enter the image link here" class="form-control">
        </div>
        <div class="row">
            <div  class="mb-3 col-md-4">
            <label for="price" class="form-label"></label>
            <input type="number" name="listing[price]" placeholder="1200" class="form-control">
        </div>
        <div  class="mb-3 col-md-8">
            <label for="country" class="form-label"></label>
            <input type="text" name="listing[country]" placeholder="India"class="form-control">
        </div>
        </div>
        
        <div  class="mb-3">
            <label for="location" class="form-label"></label>
            <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control">
        </div>
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br><br>
    </form>
    </div>
    </div>
    
</body>
