<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New listing</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" placeholder="Enter the title">
        <br><br>
        <textarea name="listing[description]" rows="6" cols="35" placeholder="Enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter the image link here">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter the price here">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter the country here">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter the location here">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>